@tailwind base;

// Firefox Scrollbar
* {
  scrollbar-width: none;
}

@tailwind components;
@tailwind utilities;


:root {
  --ccam-red: #F0555A;
  --transparent: #00000000;
}

html,
body {
  padding: 0;
  margin: 0;

  main {
    .simplebar-scrollbar::before {
      color: var(--transparent);
      background: none;
    }

    .simplebar-scrollbar {
      background-color: var(--transparent);
      width: 5px;
      margin-left: 2px;
      border-radius: 3px;
      transition: background-color 400ms ease-in;
    }

    .simplebar-visible {
      background-color: var(--ccam-red);
      transition: background-color 200ms ease-in;
    }
  }
}

* {
  box-sizing: border-box;
}
